body.dark-mode {
 background-color: #f4a498;
  background-image: linear-gradient(180deg, #f5ceb0 0%, #fbab89 150%);
  background-size: 100% 100%;
  color:#18030a
  }

body{
  background-color: #4b0a27;
  background-image: linear-gradient(180deg, #2e0c1b 0%, #18030a 150%);
  background-size: 100% 100%;
  color: #f5ceb0;
  
}

body.text{
    color:#470d25
  }
body.text.dark-mode{
    color:antiquewhite
}